@import url("../styles/a5.css");

h1 {
    font-size: 20pt;
    color: red;
    margin-bottom: 1em;
}

div.demo {
    margin-bottom: 2em;
    font-size: 20pt;
    float: left;
    width: 45%;
}

.with-ligatures {
    -ah-ligature-mode: auto;
    -webkit-font-kerning: auto;
}


.without-ligatures {
    -ah-ligature-mode: none;
}

