@page {
    size: a4 landscape
}


@page {
    @top-center {
        content: ""
    }
    @bottom-center {
        content: ""
    }
}

@page:left {
    @bottom-left {
        content: ""
    }
}

@page:right {
    @bottom-right {
        content: ""
    }
}

.page-left {
    color: green;
}

.page-right {
    color: orange;
}

.page-left .floatable-next-page {
    /*
    transform: rotate(-90deg);
    */
}

.page-right .floatable-next-page {
    /*
    transform: rotate(90deg);
    */
}
/*
#outer {
    width: 18cm;
    height: 24cm;
    outline: 2px solid blue;
    position: absolute;
}

.floatable-next-page {

    width: 50%;
    position: absolute;    
    left: 25%;
    top: 25%;

    border: 1px solid green;

    transform: rotate(-90deg);
    transform-origin: 50% 50%;

}
*/
