@page {
    @top-center {
        content: ""
    }
    @bottom-center {
        content: ""
    }
}

@page:left {
    @bottom-left {
        content: ""
    }
}

@page:right {
    @bottom-right {
        content: ""
    }
}

.page-left {
    color: green;
}

.page-right {
    color: orange;
}

.page-left .floatable-next-page {
    transform: rotate(-45deg);
}

.page-right .floatable-next-page {
    transform: rotate(45deg);
}
