@page {
    @top-center {
        content: ""
    }
    @bottom-center {
        content: ""
    }
}

@page:left {
    @bottom-left {
        content: ""
    }
}

@page:right {
    @bottom-right {
        content: ""
    }
}
